@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, sans-serif;
}

li{
    list-style-type: none;
}

@mixin colorized {
    text-transform: uppercase;
    background-color: $text-color;
    color: white;
}